@{
    ViewBag.Title = " Dashboard";
}
<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
    <h1>Because we care!</h1>
    <p class="lead">Stats about Microsoft's UserVoice sites</p>
</header>

<div class="row">
    <div class="span12">
        <h2>By Day...</h2>
    </div>
</div>

<div class="row">
    <div class="span12">
        <h2>By Category with Status-Bars</h2>
        <div id="categoryWithStatusContainer" style="min-width: 400px; height: 800px; margin: 0 auto"></div>
    </div>
</div>

@section scripts
{
    <script language="javascript" type="text/javascript">
        
        var WebApp = WebApp || {};
        WebApp.Controls = WebApp.Controls || {};
        WebApp.Controls.Charts = WebApp.Controls.Charts || {
            ByCategoryWithStats: function() {
                
            }
        };



        
        $(function () {
            var categoryOptions = {
                chart: {
                    type: 'column'
                },
                xAxis: {
                    categories: []
                },
                yAxis: {
                    min: 0,
                    stackLabels: {
                        enabled: true,
                        style: {
                            fontWeight: 'bold',
                            color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                        }
                    }
                },
                legend: {
                    align: 'right',
                    x: -100,
                    verticalAlign: 'top',
                    y: 20,
                    floating: true,
                    backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColorSolid) || 'white',
                    borderColor: '#CCC',
                    borderWidth: 1,
                    shadow: false
                },
                plotOptions: {
                    column: {
                        stacking: 'normal',
                        dataLabels: {
                            enabled: true,
                            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
                        }
                    }
                },
                series: []
            };
            
            $.getJSON('@Url.HttpRouteUrl("RpcApi", new { controller="Analytics", action="ByCategory" })', function (result) {
                // categories for x-Axis
                for (var xAxisI in result.CategoriesAndCount) {
                    var xAxiscategory = result.CategoriesAndCount[xAxisI].Key;
                    categoryOptions.xAxis.categories.push(xAxiscategory);
                }

                // status entries
                for (var i in result.StatuslistPerCategory) {
                    var status = result.StatuslistPerCategory[i];

                    var name = "";
                    if (status.Key == undefined) {
                        name = "no status";
                    }
                    else {
                        name = status.Key;
                    }

                    var data = new Array();

                    for (var dataI in status.Value) {
                        data.push(status.Value[dataI]);
                    }

                    var valueToPush = {}; 
                    valueToPush["name"] = name;
                    valueToPush["data"] = data;
                    categoryOptions.series.push(valueToPush);

                    //if (status.Key != undefined) {

                    //    var name = "";
                    //    name = status.Key;

                    //    var data = new Array();

                    //    for (var dataI in status.Value) {
                    //        data.push(status.Value[dataI]);
                    //    }

                    //    var valueToPush = { };
                    //    valueToPush["name"] = name;
                    //    valueToPush["data"] = data;
                    //    categoryOptions.series.push(valueToPush);

                    //}
                }

                $('#categoryWithStatusContainer').highcharts(categoryOptions);
            });

        });

    </script>
}
