@{
    ViewBag.Title = " Dashboard";
}
<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
    <h1>Because we care!</h1>
    <p class="lead">Stats about Microsoft's UserVoice sites</p>
</header>
